@import "bootstrap/scss/bootstrap.scss";

body{
    display: flex;
    align-items: center;
    justify-items: center;
    height: 100vh;
    width: 100%;
    margin: auto;
    padding: auto;
    #root{
        width: 100%;
    }
}

#main-container{
    align-items: center;
    height: 100vh;

    #wrapper{
        height: 600px;
        width: 600px;
        align-items: center;
        border: 0px solid;
        #btn-container{
            align-items: center;
        }
    }
}
button{
    margin-left: 20px;
    margin-right: 20px;
}
.button-modal-a{
    color: #46139f ;
    border: 1px solid;
    margin-left: 20px;
    margin-right: 20px;
}

.button-modal-close{
    color: #46139f ;
    border: 1px solid #46139f;

}

.button-modal-b{
    color: #ff7f50 ;
    border: 1px solid;
    margin-left: 20px;
    margin-right: 20px;
}

.main-div{
    display: flex;
    align-items: center;
    width: 50%;
    height: 50%;
    margin: auto;
    padding: auto;
}

.view-detail {
    cursor: pointer;
    padding: 11px 31px;
}

.modal-custom {
    max-width: 68%;
    .modal-footer{
        justify-content: flex-start;
    }
}

